body {
    background-color: #9bd9f882;
    font-family: Verdana;
}
  
h1 {
  text-align: center;
  font-family: verdana;
  margin: 15px 0 15px 0;
  color: #06368f;
  font-size: 70px;
}

.bannerHeader {
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-family: verdana;
  text-align: center;
  border: solid 3px black;
  border-radius: 50px;
  color: #DFF5FF;
  background-color: #30bc30;
  font-size: 24px;
  width: 1000px;
  height: 35px;
}

p {
  margin: 15px 0 15px 0;
  text-align: center;
  border: solid 4px #FFD400;
  border-radius: 50px;
  color: #DFF5FF;
  background-color: #5356FF;
  font-size: 18px;
  font-style: italic;
  width: 480px;
  height: 25px;
}

details {
  font-size: 20px;
}

.menu1 {
  font-size: 20px;
}

.menu2 {
  font-size: 20px;
}

.figure1{
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 375px;
  margin: left;
}

.figure2{
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 375px;
  margin: right;
}
  
img {
  margin: 5px 0 5px 0;
}

.imgRopaCasual {
  border: solid 2px;
  border-radius: 100px 10px 10px 10px;
  width: 375px;
  height: 250px;
}

.imgRopaAltoRendimiento {
  border: solid 2px;
  border-radius: 10px 100px 10px 10px;
  width: 375px;
  height: 250px;
}

figcaption{
  background-color: #222;
  color: #fff;
  font: smaller sans-serif;
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
  text-align: center;
}

.color {
  font-size: 20px;
}

kbd > kbd {
  border: 1px solid black;
  padding: 1px 2px 0;
  border-radius: 3px;
}