body {
  justify-content: center;
  background-color: #75CFFC;
  font-family: Verdana;
  align-items: center;
  min-height: 100vh;
}
  
section {
  margin: 20px auto;
  position: relative;
  width: 710px;
  height: 50px;
  background: #DC0A2D;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 18px; 
  font-weight: bold;
}

section a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  color: #d9d6d6;
  text-decoration: none;
  padding: 0 30px;
  z-index: 1;
}

section span{
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(90deg, #DC0A2D, #8C0821);
  border-radius: 20px;
  transition: 0.5s;
}

section a:nth-child(1):hover~span{
  left: 15px;
}

section a:nth-child(2):hover~span{
  left: 165px;
}

section a:nth-child(3):hover~span{
  left: 330px;
}

section a:nth-child(4):hover~span{
  left: 475px;
}

section a:nth-child(5):hover~span{
  left: 615px;
}

.bannerHeader {
  margin: 20px auto;
  padding: 0 0 50px 0;
  font-family: verdana;
  text-align: center;
  border: solid 9px rgb(0, 23, 121);
  border-radius: 50px 50px 50px 50px;
  color: #FFC400;
  background-color: rgb(14, 50, 212);
  font-size: 69px;
  font-style: italic;
  width: 400px;
  height: 35px;
}

article{
  display:inline-flex;
  flex-flow: space-around;
  padding: 10px;
  max-width: 375px;
  margin: center;
}

#h1Pokemon {
  font-size: 69px;
  font-style: normal;
}

p {
  margin: 15px 0 15px 0;
  text-align: center;
  border: solid 4px #FFD400;
  border-radius: 50px;
  color: #DFF5FF;
  background-color: #5356FF;
  font-size: 18px;
  width: 480px;
  height: 25px;
}

details {
  font-size: 20px;
}
 
img {
  margin: 5px 0 5px 0;
  text-align: center;
}

.imgMapa {
  border-radius: 20px 20px 0px 0px;
  width: 375px;
  height: 250px;

}

.imgLogistica {
  border-radius: 20px 20px 0px 0px;
  width: 375px;
  height: 250px;
}

.imgWeb {
  border-radius: 20px 20px 0px 0px;
  width: 375px;
  height: 250px;
}

figcaption{
  background-color: #DC0A2D;
  color: #d9d6d6;
  font: medium sans-serif;
  border-radius: 0px 0px 20px 20px;
  padding: 3px;
  text-align: center;
}

.color {
  font-size: 20px;
}

kbd > kbd {
  border: 1px solid black;
  padding: 1px 2px 0;
  border-radius: 3px;
}